
.pokedex_container{
	padding: 16px;
}

img {
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	
	align-items: center;
	justify-content: center;
	min-height: 70vh;
	max-height: 200vh;
	margin: 0;
	background-color: #202733;
	color: #cee3e9;
	font-family: 'Manrope', sans-serif;
}

.liststyle {
	display: flex;
	justify-content: center;
	padding: 16px;
}

.cardsContainer {
	align-content: flex-start;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
	overflow-y: scroll;
    max-height: -webkit-fill-available;
	height: 65vh;
	padding-top: 12px;
}

.cardBg{
	right: 0;
    position: absolute;
}
.pkmnImage{
	background-size: contain; /* Puedes ajustar esto según sea necesario */
    position: absolute;
 
  
}

.pkmnNumber{
	color: #666;
    font-family: system-ui;
    font-size: 14px;
    margin-left: -50px;
	position: absolute;
	top: 1px;
}

.card.light{
	--bg-color: #a80095;
}
.card__title {
	margin: 0;
	font-size: 0.8125rem;
	color: #53ffaa;
	margin-bottom: 24px;
}

.card__text {
	margin: 0;
	margin-bottom: 60px;
	letter-spacing: -0.3px;
	font-size: 1.75rem;
	margin-top: 16px;
}

.button {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 64px;
	height: 64px;
	padding: 20px;
	border: none;
	background-color: #53ffaa;
	transform: translateY(50%);
	cursor: pointer;
}

.button:active {
	transform: translateY(50%) scale(0.95);
}
/* HEADER*/
:root{
--bg-color: #333;
--text-colorH2: white;
--text-color: #f0f8ff;
--border-color: #00a61c;

}
.header{
	
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*.header img{
	margin-right: -80px;
}*/
/* SELECT*/
.selectStyle{
	width: 100%;
	-webkit-appearance: menulist-button;
	background-color: white;
	border: unset;
	
	
	
}
#selectGen {
	appearance: menulist; /* Estilo predeterminado del sistema operativo */
	-moz-appearance: none; /* Para Firefox */
	padding: 5px; /* Ajusta el relleno según sea necesario */
	border-radius: 17px;
	font-size: 16px;
	width: 100%;
  }
  
  #selectGen::-ms-expand {
	display: none; /* Para Internet Explorer */
}
  
  /* Personaliza la apariencia del desplegable */
  #selectGen option {
	padding: 10px; /* Ajusta el relleno según sea necesario */
  }

#selectGen:focus {
	outline: none; /* Elimina el contorno al obtener el foco */
	box-shadow: none; /* Elimina cualquier sombra al obtener el foco (puede variar según el navegador) */
  }

.select-container {
	display: inline-block;
	border-radius: 17px;
	overflow: hidden;
	width: 100%;
	height: 32px;
	background-color: white;
  }
  .search-container {
	display: flex;
	align-items: center;
	margin-top: 10px; /* Ajusta el margen según sea necesario */
  }
  
  .search-icon {
	background-color: #ffffff;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
    color: #fff;
    padding: 9px;
  }
  
  .search-input {
	border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    flex: 1;
    font-size: 16px;
    margin-left: -1px;
    padding: 8px;
    border: unset;
	height: 18px;
  }
  
  .bg-container {
	position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1; /* Para colocar la imagen en el fondo */
  }
  
  .bg-image {
	width: 407.05; /* Ajusta el ancho de la imagen según sea necesario */
	height: 389.55px; /* Mantiene la proporción de aspecto original */
	z-index: -1;
    position: fixed;
    left: 0;
    bottom: 0;
  }
.headerGen{
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}
  #iconPkmn{
	margin-right: -80px;

  }
/* SWITCH*/
.label{
	position: relative;
	height: 30px;
	width: 71px;
	background-color: #3949AB;
	display: block;
	border-radius: 0.9rem;
	
}

.label::before{
	font-family: 'Poppins', sans-serif;
	position: relative;
	content: 'Dark';
    left: 30px;
	top: 5px;
    color: #FFFFFF;
	
}

.label::after{
	position: absolute;
	content: url('../assets/images/moon.svg'); 
	height: 25px;
	width: 25px; 
	background-color: #6F74DD;
	border-radius: 50%;
	transition: transform 0.5s;
	left: 3px;
	top: 2px;
	
}

.input{
	display: none;
}

.input:checked + .label{
	background-color: #6F74DD;
	

}

.input:checked + .label::before {
    content: 'Light';
    left: 5px;
	top: 5px;
    font-family: 'Poppins', sans-serif; /* Añade Poppins como la fuente */
	
}

.input:checked + .label::after{
	transform: translateX(40px);
	background-color: #3949AB;
	height: 25px;  /* Ajusta el tamaño de la imagen del sol */
    width: 25px;
	content: url('/Users/edu/Desktop/Pokedex/src/assets/images/sup.svg'); 
	

}

.card{
display: flex;
position: relative;
width: 104px;
height: 108px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px;
background: var(--grayscale-white, #FFF);
transition: transform 0.3s ease;

/* Drop Shadow/2 dp */
box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.20);
}

.cardText{
	bottom: 4px;
    color: #1d1d1d;
    color: #666666;
    font-family: system-ui;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    position: absolute;
    text-align: center;
}

.card:hover  {
    background: #F4F4F4;
    cursor: pointer;
	transform: scale(1.05); 
	box-shadow: 0px 0px 4px 3px hsl(300.43deg 100% 50% / 44%);
	
}

.hidden{
	display: none;

}

.arrow-back{
	cursor: pointer;
}

.arrow-back:hover{
	cursor: pointer;
}

.image-size{
	width: 25vh;
}

.pkmn-container{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.type{
	justify-content: center;
    display: flex;
}

.info-container{
background-color: rgba(32, 39, 51, 0.80);
border: 1px solid rgba(255, 255, 255, 0.5); 
border-top-left-radius: 30px;
border-top-right-radius: 30px;
box-sizing: border-box;
width: 100%;
top: 400px;
position: fixed;
bottom: 0;
overflow-y: scroll;
fill: rgba(32, 39, 51, 0.80);
filter: drop-shadow(0 0 5.100000000000023px rgba(255,255,255,.2))
}

.info-container::-webkit-scrollbar-track {
    background-color: transparent; /* Color de fondo del scrollbar */
}

.description{
	justify-content: center;
    display: flex;
	justify-content:start;
	padding-top: 15px;

}

.marg-left20{
margin-left: 20px;
}

.marg-left80{
	margin-left: 80px;
}



.rounded{
	border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
	display: inline-flex;
	padding: 3px 8px;
	align-items: center;
	gap: 6px;
}

.text{
	font-size: small;
    padding: 16px;
    font-family: system-ui;

}

.pokeMini{
	width: 50px;
}

.textMini{
	font-family: system-ui;
    font-size: 12px;
}

.minisContainer{
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.statsStyle{
	font-family: system-ui;
    font-size: 12px;
	padding: 20px;
	display: grid;
    justify-items: end;
    justify-content: start;

}

.statsStyle div   {
	display: flex;
	align-items: center; 
  }

.statsStyle div span {
	margin-right: 20px;
	
  }

  .prog-bar{
	width: 100px;
	height: 4px;
	background-color: rgb(255, 255, 255);
	border-radius: 4px;
	filter: drop-shadow(0 0 5.100000000000023px rgba(34, 255, 0, 0.655));

  }

  .weeknesStyle{
	font-family: system-ui;
    font-size: 12px;
	padding: 20px;
	

}

.flex{
	display: flex;
	flex-direction: row;
}

.flexLine{
	display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.weekness{
	display: flex;
    width: 292px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0px;
    flex-wrap: wrap;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

span.centered {
    text-align: center;
}

.inline-flex{
	display: inline-flex;
	flex-direction: row-reverse;
}

.flexRow{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
	padding-bottom: 15px;
}

#screamButton:hover{
	filter: drop-shadow(0 0 5.100000000000023px rgba(34,255,0,.655));
	cursor: pointer;
}